.invite .invite_authors {
  font-size: 92pt;
}
.bridesmaids-groomsmen-slider .item {
  width: 200px;
}
.bridesmaids-groomsmen-slider .item .image {
  max-height: 200px;
}
.bridesmaids-groomsmen-slider .item .image .info h3 {
  color: #ad9fb3;
  margin-top: 70px;
  font-size: 16pt;
}
.wedding-gifts li {
  width: 100%;
}
.quote-fullwidth {
  font-size: 37pt;
}
.hour {
  font-size: 34pt;
}
.roomblock {
  color: #008080;
  font-size: 18px;
  opacity: 1.0;
  font-weight: 800;
}
.roomblock a {
  text-decoration: underline;
}
